<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Area</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/Public/main.js"></script>

</head>
<body>
    <a href="/">
        <img src="/Content/Images/banner.jpg" alt="banner" id="banner" />
    </a>

    <div id="rightBar">
        @RenderSection("rightBar", false)
  
        @{Html.RenderPartial("~/Views/Shared/_LoginPartial.cshtml", null);}

    </div>
    <div id="multiMainBar">
        @RenderBody()
    </div>
</body>
</html>
