@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Family/_Layout.cshtml";
}

<div class="TitleNote">
    <h1 style="color:#FCFBE3">Welcome to the Family Area</h1>
    <p>This is an area reserved for immediate family only. From here you can read privately shared stories, and approve (or not) newly shared stories.</p>
    <p>~ Chris</p>
</div>
<h2>Stories that are Pending Approval</h2>
<div class="MultiMainBarSection">
    @{Html.RenderAction("PendingApproval", "Stories");}
</div>
<h2>Stories Shared Privately with ONLY Family</h2>
<div class="MultiMainBarSection">
    @{Html.RenderAction("PrivateStories", "Stories");}
</div>
<h2>Guest Book</h2>
<div class="MultiMainBarSection">
    @{Html.RenderAction("Entries", "Guestbook", null);}
</div>

@section rightBar{
    <div style="margin:8% 0%">
        @Html.ActionLink("Share a story", "Create", "Stories", null, null)
    </div>
}