@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Family/_Layout.cshtml";
}

<h1>Welcome to the Immediate Family Area</h1>

<div class="MultiMainBarSection">
    @{Html.RenderAction("PendingApproval", "Stories");}
</div>
<div class="MultiMainBarSection">
    @{Html.RenderAction("PrivateStories", "Stories");}
</div>