@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <p>
        <div style="margin:8% 0%">
            Welcome <b>@User.Identity.Name</b>
        </div>
        <div style="margin:8% 0%">
            @Html.ActionLink("Go to Family Area", "Index", "Family", null, null)
        </div>

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <div>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>
        }
    </p>
}
else
{
    <p>
        @Html.ActionLink("Family Login", "Login", "Account")
    </p>
}