@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div>
            Welcome <b>@User.Identity.Name</b>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
    }
}
else
{
    <div>
        @Html.ActionLink("Family Log in", "Login", "Account", routeValues: null)
    </div>
}