@{
    ViewBag.Title = "In Loving Memory of Eldon Purinton";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div class="TitleNote">
    <h1 style="color:#FCFBE3">Welcome</h1>
        <p>
            This page, and the stories, thoughts, pictures and memories it contains is a living memorial to the life of Eldon Purinton. 
        </p>
        <p>
            <strong class="ButtonContainer">
                We would like to have you add to this "story of Eldon" - Please <a href="/Stories/Create">Share a story</a> about Eldon, and the impact his life had on yours!
            </strong>
        </p>
    <p><i>~ Mary & Family</i></p>
</div>

@{Html.RenderAction("Index", "Stories");}


@section rightBar{
    <div style="margin:8% 0%">
        @Html.ActionLink("Share a story", "Create", "Stories", null, null)
    </div>
    <div>
        @{Html.RenderAction("Form", "Guestbook", null);}
    </div>
}
