@{
    ViewBag.Title = "In Loving Memory of Eldon Purinton";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div class="TitleNote">
    <h1 style="color:#FCFBE3">Welcome</h1>
        <p>
            This page, and the stories, thoughts, pictures and memories it contains is a living memorial to the life of Eldon Purinton. 
        </p>
        <p>
            <strong class="ButtonContainer">
                We would like to have you add to this "story of Eldon" - please <a href="/Stories/Create">share a story</a> about Eldon, and the impact his life had on yours!
            </strong>
        </p>
    <p><i>~ Mary & Family</i></p>
</div>

@{Html.RenderAction("Index", "Stories");}


@section rightBar{
    <div class="rightBarSection">
        <p>
            @Html.ActionLink("Share a Story", "Create", "Stories", null, null)
        </p>
    </div>
    <div class="rightBarSection">
        <p>
            @Html.ActionLink("Obituary", "Obituary", "Home", null, null)
        </p>
    </div>
    <div class="rightBarSection mobileHidden">
        @{Html.RenderAction("Form", "Guestbook", null);}
    </div>
}
