@{
    ViewBag.Title = "In Loving Memory of Eldon Purinton";
    Layout = "~/Views/Home/_Layout.cshtml";
}

@{Html.RenderAction("Index", "Stories");}


@section rightBar{
    <div style="margin:8% 0%">
        @Html.ActionLink("Share a story", "Create", "Stories", null, null)
    </div>
}