
@{
    ViewBag.Title = "Eldon Purinton - Obituary";
    Layout = "~/Views/Stories/_Layout.cshtml";
}


<h1> 
    Eldon Lewis Purinton
</h1>
<div>
    <p>
    Eldon Lewis Purinton was born on April 3, 1934 in Simsbury, Connecticut.  He was the only child of Norman Purinton and Mary Rockwell Purinton.
    </p>
    <p>
    Eldon spent his childhood and teen years in and around Springville, Iowa.  He felt very blessed to have spent this time in his life surrounded by very special cousins and loving aunts and uncles.
    </p>
    <p>
    He graduated from Springville High School and went on to college at the University of Iowa.  He received his degree from the School of Pharmacy in 1955.  There, he made close, life-long friends. Eldon joined the ROTC during college and spent a total of eight years in an Army Reserve Unit after graduation.
    </p>
    <p>
    Eldon married Mary Elizabeth Johnson on September 12, 1954 at the Methodist Church in Springville, Iowa.  They had 60 wonderful, exciting and beautiful years together.  Their first daughter, Diane, was born in 1957.  In 1960 they all moved to Colorado, where Eldon began working in the pharmacy for King Soopers Grocery.  He would remain with King Soopers until 1991.  In 1963 their second daughter, Marilyn, was born, and the family moved to Fort Collins, Colorado where they remained for many years.
    </p>
    <p>
    During this time, he and Mary were able to purchase mountain property near Estes Park, and later built a beautiful home on that land.  This had been a dream of theirs since moving to Colorado.  Eldon loved their mountain land and spent many hours hiking through the pine trees in the clear air and enjoying the panoramic view from their balcony.  He worked part time at an outdoor western shop in Estes Park.
    </p>
    <p>
    Sadly, Mary and Eldon lost their daughter, Marilyn to a lengthy illness in December of 1981.  This was an extremely hard time for the family and Marilyn is dearly missed.
    </p>
    <p>
    Spending time in Arizona was a great joy to Eldon.  He and Mary purchased a condo in Florence, Arizona and spent winters there for over 19 years.  Eldon worked hard at improving his golf game, and loved every minute playing with his Arizona golfing friends.
    </p>
    <p>
    Eldon had two grandsons, Chris and Nick.  He greatly enjoyed spending time with them and teaching them the finer points of baseball and board games.  He was immensely proud of them both.
    </p>
    <p>
    Mary and Eldon spent the summers at their home in Milliken, Colorado for the last several years.
    </p>
    <p>
    Eldon is survived by his wife Mary and daughter Diane and her husband, Joe, and by grandsons, Nicholas and Christopher and his wife Elizabeth.
    </p>
</div>

@section rightBar{
    <div class="rightBarSection">
        @Html.ActionLink("Share a story", "Create", "Stories", null, null)
    </div>
}