<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/medium-editor.min.css" rel="stylesheet" />
    <link href="~/Content/flat.min.css" rel="stylesheet" />
    <link href="~/Content/medium-editor-insert-plugin-frontend.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/Public/story.js"></script>
</head>
<body id="body" style="display:none">
    <div id="storyHeader" style="background-color: #2e221f;
                    border-radius: 10px;
                    color: #fcfbe3;
                    font-family: tahoma,sans-serif;
                    font-size: 50px;
                    height: 80px;
                    margin-bottom: 10px;
                    padding: 20px;
                    width: 94%;">
        <a href="/">
            Memories of Eldon.
        </a>
    </div>

    <div id="rightBar">
            @RenderSection("rightBar", false)
        <div class="rightBarSection">
            @{Html.RenderPartial("~/Views/Shared/_LoginPartial.cshtml", null);}
        </div>
    </div>
    <div id="mainBar">
        <style>
            img {
                width:100%;
                max-width: 100%;
            }
        </style>
        @RenderBody()
    </div>
</body>
</html>