@model InMemoryELP.Models.Story

@{
    ViewBag.Title = "Share a story";
    Layout = "~/Views/Stories/_Layout.cshtml";
}

<div id="imageButtonContainer">
    <button id="insertImageButton">Add Picture</button>
</div>
<div id="insertImageDialog" title="Add a picture" style="display:none">
    <form id="imageForm" enctype="multipart/form-data">
        <input id="fileInput" name="file" type="file" accept="image/bmp, image/jpeg, image/png" />
    </form>
</div>

<input type="text" id="Title" value="Type your title here" style="border: medium none; font-family: helvetica,sans-serif; font-size: 3em; font-weight: bold; margin-top:3%"/>

<div id="HTMLBodyText" class="editable" style=" height:6000px; margin:5%">
    Type your story here.
</div>


@section rightBar{
<h2>Details</h2>
<form id="detailsForm">
    <div id="Validation" style="color:red">
        @ViewBag.ValidationMessage
    </div>
    <p>
        <label for="AuthorName">Your Name </label><input type="text" id="AuthorName" title="For your byline." data-required />
    </p>
    <p>
        <label for="AuthorEmail">Your Email </label><input type="email" id="AuthorEmail" title="This is only for the family - Don't worry, we won't share this or send you junk." data-required />
    </p>
    <p>
        How would you like to share your story? <b>Publicly</b> for everybody to see on this site, or <b>privately</b> only with the family?
    </p>
    <div id="publicRadio">
            <input type="radio" id="PublicRadio" name="radio" checked="checked"><label for="PublicRadio">Publicly</label>
            <input type="radio" id="PrivateRadio" name="radio"><label for="PrivateRadio">Privately</label>
    </div>
    <p>
        <button id="uploadStory" value="Submit Story" title="Do this very last!">All Done. Submit my story.</button>
    </p>
</form>
}

<div id="#RequestVerificationToken" style="display:none">
    @Html.AntiForgeryToken()
</div>